.container {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.mat-drawer-container {
  background-color: transparent;
}

.toolbar {
  display: flex;
  height: 48px;
  padding-left: 0;
  padding-right: 0;
}

.is-mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.current-page {
  display: block;
  margin-left: 8px;
}

.page-name {
  /* display: inline; */
  font-size: 20px;
  line-height: 20px;
  height: 22px;
  margin: 0;
}

.page-description {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  opacity: 0.6;
}

.page-name-clickable:hover, .page-description-clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}

.sidenav-container {
  flex: 1;
}

.sidenav-container .mat-sidenav {
  width: 20vw;
}

.sidenav-container .mat-sidenav-content {
  margin-left: 20vw !important;
  margin-right: 20vw !important;
  width: 60vw;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

@media screen and (max-width: 600px) {
  .sidenav-container .mat-sidenav {
    width: 90vw;
  }

  .sidenav-container .mat-sidenav-content {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100vw;
  }
}
