<div class="container">

  <mat-toolbar color="primary" class="toolbar noselect">
    <button mat-icon-button (click)="channelNav.toggle()" matTooltip="Kanały" matTooltipPosition="right" *ngIf="mobileQuery.matches">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>

    <div class="current-page hide-overflow">
      <div *ngIf="currentPage.channelReference === undefined || (currentPage.channelReference !== undefined && currentPage.channelReference.leader.username !== currentUser.username); else channelOwner">
        <h1 class="page-name hide-overflow" [innerHtml]="currentPage.name"></h1>
        <p class="page-description hide-overflow" [innerHtml]="currentPage.description"></p>
      </div>

      <ng-template #channelOwner>
        <h1 class="page-name page-name-clickable hide-overflow" (click)="onChannelNameEdit()" [innerHtml]="currentPage.name"></h1>
        <p class="page-description page-description-clickable hide-overflow" (click)="onChannelParticipantsEdit()" [innerHtml]="currentPage.description"></p>
      </ng-template>
    </div>

    <div class="flex-fill"></div>

    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="{{currentUser.firstName}} {{currentUser.lastName}}" matTooltipPosition="left">
      <i class="fa fa-user" aria-hidden="true"></i>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item class="user-menu-item" routerLink="/manage-users" *ngIf="isAdmin">
        <i class="fa fa-users" aria-hidden="true"></i>
        <span> Zarządzaj użytkownikami </span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <i class="fa fa-sign-out icon-on-the-left" aria-hidden="true"></i>
        <span> Wyloguj </span>
      </button>
    </mat-menu>

    <button mat-icon-button (click)="conversationNav.toggle()" matTooltip="Użytkownicy" matTooltipPosition="left" *ngIf="mobileQuery.matches">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #channelNav fixedTopGap="56" [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="mobileQuery.matches ? 'false' : 'true'">
      <mat-nav-list>
        <app-sidebar-channels class="noselect" [updates]="updates" (click)="sidebarOnClick(channelNav)"></app-sidebar-channels>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
    </mat-sidenav-content>

    <!-- on smaller screen: mode="over" opened="false" -->
    <mat-sidenav #conversationNav fixedTopGap="56" position="end" [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="mobileQuery.matches ? 'false' : 'true'">
      <mat-nav-list>
        <app-sidebar-contacts class="noselect" [updates]="updates" (click)="sidebarOnClick(conversationNav)"></app-sidebar-contacts>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>

</div>
