<ol id="chat" class="chat">


  <div *ngFor="let message of conversation; let i = index; let first = first">
    <div class="day" *ngIf="first || (!first && message.timestamp.getDate() !== conversation[i-1].timestamp.getDate())">
      {{ message.timestamp | date:'dd-MM-yyyy' }}
    </div>

    <li [ngClass]="{'self': message.sentBy === currentUser.username, 'other': message.sentBy !== currentUser.username}">
      <div class="msg">
        <div class="user"> {{ message.sentBy }} </div>
        <p [innerHTML]="message.content"> </p>
        <time> {{ message.timestamp | date:'HH:mm:ss' }} </time>
      </div>
    </li>
  </div>

</ol>

<div class="typehere">
  <textarea #messageTextarea type="text" placeholder="Napisz wiadomość..." (keydown.enter)="onKeyEnterMessage(messageTextarea, $event);false"></textarea>
  <div class="buttons">
    <button mat-icon-button (click)="sendMessage(messageTextarea)" matTooltip="Wyślij wiadomość" matTooltipPosition="left">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
    </button>
  </div>
</div>
