.participant-add-bar {
  display: flex;
}

.participant-add-bar .mat-form-field {
  flex: 8;
}

.participant-add-bar button {
  flex: 1;
  height: 50px;
  top: 10px;
  width: 50px;
}

.mat-column-username, .mat-column-firstName, .mat-column-lastName {
  flex: 3 !important;
}

.mat-column-actions {
  flex: 1 !important;
}
