<h1 mat-dialog-title> Zarządzaj uczestnikami </h1>

<div mat-dialog-content>
  <div class="participant-add-bar">
    <mat-form-field>
      <input matInput placeholder="Wybierz nowego uczestnika" aria-label="Choose new participant" [matAutocomplete]="auto" [formControl]="searchUserFormControl" />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let user of filteredUsers | async" [value]="user.username">
          <span> <b><{{ user.username }}></b> {{ user.firstName }} {{ user.lastName }} ({{ user.email }}) </span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-icon-button color="primary" (click)="participantAddClick(searchUserFormControl.value)" [disabled]="!searchUserFormControl.valid" matTooltip="Dodaj" matTooltipPosition="left">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
    </button>
  </div>

  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Nazwa użytkownika </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> Imię </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Nazwisko </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="participantRemoveClick(element.username)" matTooltip="Usuń" matTooltipPosition="left">
          <i class="fa fa-minus-circle" aria-hidden="true"></i>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<div mat-dialog-actions>
  <div class="flex-fill"></div>
  <button mat-button (click)="onNoClick()"> Anuluj </button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="onSaveClick()"> Zapisz </button>
</div>
