<div class="table-container mat-elevation-z8">

  <div class="head-bar">
    <div class="search-bar">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Wyszukaj">
      </mat-form-field>

      <mat-form-field>
        <mat-select (selectionChange)="onShowUserSelectionChange($event.value)" placeholder="Wyświetlanie">
          <mat-option value="all" selected="selected">Wszyscy</mat-option>
          <mat-option value="users">Posiadający prawa użytkownika</mat-option>
          <mat-option value="non-users">Nie posiadający praw użytkownika</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button class="button-users-trash" mat-icon-button (click)="openUsersTrash()" matTooltip="Usunięci użytkownicy" matTooltipPosition="left">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
  </div>

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef> Login </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> Imię </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Nazwisko </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Akcje </mat-header-cell>

      <mat-cell *matCellDef="let element">
        <div *ngIf="element.username !== currentUser.username">
          <button mat-icon-button color="primary" *ngIf="!haveRoleUser(element); else deleteUserRole" (click)="confirmAddUserRole(element)">
            <i class="fa fa-handshake-o" aria-hidden="true" matTooltip="Nadaj prawa użytkownika" matTooltipPosition="above"></i>
          </button>

          <ng-template #deleteUserRole>
            <button mat-icon-button color="warn" (click)="confirmDepriveUserRole(element)">
              <i class="fa fa-handshake-o" aria-hidden="true" matTooltip="Odbierz prawa użytkownika" matTooltipPosition="above"></i>
            </button>
          </ng-template>

          <button mat-icon-button color="warn" (click)="confirmDelete(element)">
            <i class="fa fa-trash" aria-hidden="true" matTooltip="Usuń konto użytkownika" matTooltipPosition="above"></i>
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>
