.table-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.head-bar {
  display: flex;
  justify-content: space-between;
}

.search-bar {
  min-height: 64px;
  padding: 8px 24px 0;
}

.button-users-trash {
  top: 10px;
  height: 60px;
  right: 10px;
  width: 60px;
}

.button-users-trash i {
  font-size: 20px;
  height: 30px;
  width: 30px;
}

.mat-column-username {
  flex: 4 !important;
}

.mat-column-firstName {
  flex: 4 !important;
}

.mat-column-lastName {
  flex: 4 !important;
}

.mat-column-email {
  flex: 6 !important;
}

.mat-column-actions {
  flex: 3 !important;
}
