.form-signin {
  margin: 0 auto;
  max-width: 330px;
  padding: 15px;
}

.form-signin .mat-form-field {
  display: block;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.top-space {
  padding-bottom: 40px;
  padding-top: 10%;
}

.button-container button {
  width: 100%;
}
