<div class="container top-space">
  <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <h2 class="form-signin-heading">Zaloguj się</h2>

    <!-- hintLabel="Hasło" -->
    <mat-form-field>
      <input matInput #input formControlName="username" placeholder="Nazwa użytkownika" autofocus>
      <!-- <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint> -->
      <mat-error *ngIf="!loginForm.controls['username'].valid"> Nazwa użytkownika jest wymagana </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput #input type="password" formControlName="password" placeholder="Hasło">
      <mat-error *ngIf="!loginForm.controls['password'].valid"> Hasło musi być dłuższe niż {{ passwordMinLength }} znaków </mat-error>
    </mat-form-field>

    <div class="button-container">
      <span (click)="loginClicked()">
        <button mat-button color="primary" type="submit" [disabled]="!loginForm.valid">Zaloguj</button>
      </span>
      <button mat-button color="accent" (click)="toRegister()">Przejdź do rejestracji</button>
    </div>
  </form>
</div>
