<a mat-list-item class="non-active" *ngFor="let user of users" routerLink="/conversation/{{user.username}}" routerLinkActive="active">
  <i class="fa fa-circle unread" aria-hidden="true" *ngIf="user.newMessages"></i>
  <span class="hide-overflow">
    {{ user.firstName }} {{ user.lastName }}
  </span>
</a>
