<ol id="chat" class="chat">

  <div *ngIf="channel && channel.events">

    <div class="no-size" *ngFor="let event of channel.events; let i = index; let first = first">

      <div class="day" *ngIf="first || (!first && event.timestamp.getDate() !== channel.events[i-1].timestamp.getDate())">
        {{ event.timestamp | date:'dd-MM-yyyy' }}
      </div>

      <li class="self" *ngIf="event.eventType === 'MESSAGE' && event.author.username === currentUser.username">
        <div class="msg">
          <p [innerHTML]="event.content"> </p>
          <time> {{ event.timestamp | date:'HH:mm:ss' }} </time>
        </div>
      </li>

      <li class="other" *ngIf="event.eventType === 'MESSAGE' && event.author.username !== currentUser.username">
        <div class="msg">
          <div class="user"> {{ event.author.username }}
            <span class="range admin" *ngIf="event.author.username === channel.leader.username">Lider</span>
          </div>
          <p [innerHTML]="event.content"> </p>
          <time> {{ event.timestamp | date:'HH:mm:ss' }} </time>
        </div>
      </li>

      <div *ngIf="event.eventType === 'USER_ADD'" class="notification">
        <div class="notification-content hide-overflow">
          Dodano użytkownika {{ event.content }}
        </div>
        <time> {{ event.timestamp | date:'HH:mm:ss' }} </time>
      </div>

      <div *ngIf="event.eventType === 'USER_REMOVE'" class="notification">
        <div class="notification-content hide-overflow">
          Usunięto użytkownika {{ event.content }}
        </div>
        <time> {{ event.timestamp | date:'HH:mm:ss' }} </time>
      </div>

      <div *ngIf="event.eventType === 'CHANNEL_CREATED'" class="notification">
        <div class="notification-content hide-overflow">
          Utworzono kanał <i> {{ event.content }} </i>
        </div>
        <time> {{ event.timestamp | date:'HH:mm:ss' }} </time>
      </div>

      <div *ngIf="event.eventType === 'CHANNEL_RENAMED'" class="notification">
        <div class="notification-content hide-overflow">
          Zmiana nazwy na: <i> {{ event.content }} </i>
        </div>
        <time> {{ event.timestamp | date:'HH:mm:ss' }} </time>
      </div>

    </div>

  </div>

</ol>

<div class="typehere">
  <textarea #messageTextarea type="text" placeholder="Napisz wiadomość..." (keydown.enter)="onKeyEnterMessage(messageTextarea, $event);false"></textarea>
  <div class="buttons">
    <button mat-icon-button (click)="sendMessage(messageTextarea)" matTooltip="Wyślij wiadomość" matTooltipPosition="left">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
    </button>
  </div>
</div>
