::selection {
  background: rgba(82, 179, 217, 0.3);
  color: inherit;
}
/* M E S S A G E S */
.chat {
  list-style: none;
  background: none;
  margin: 0;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 15px;
  background: #e5e5e5;
  font-family: sans-serif;
  margin: 0;
  /*height = full_page - message_box - navbar*/
  height: calc(100vh - 76px - 48px);
  overflow-x: hidden;
  overflow-y: scroll;
}

.chat li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}

.chat .day {
  position: relative;
  display: block;
  text-align: center;
  color: #777777;
  height: 20px;
  line-height: 38px;
  margin-top: 5px;
  margin-bottom: 20px;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.chat .notification {
  position: relative;
  display: inherit;
  text-align: left;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.15);
  background: rgba(234, 247, 255, 0.035);
  line-height: 28px;
  border-radius: 100px;
  margin: 7px 31%;
  height: 30px;
  width: 40%;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 -1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 -1px 0 rgba(255, 255, 255, 0.1);
  text-shadow: 0 -1px 0 rgba(200, 200, 200, 0.2), 0 1px 0 rgba(0, 0, 0, 0.5);
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: all 0.2s cubic-bezier(0.565, -0.260, 0.255, 1.410);
}

.chat .notification .notification-content {
  margin-left: 5px;
  text-align: center;
  width: calc(100% - 68px - 5px);
}

.chat .notification time {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 11px;
  padding: 8px;
  border-radius: 100px;
  background: #a7a7a7;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.02), inset 0 0 1px rgba(27, 35, 42, 0.1);
  height: 1px;
  line-height: 0;
  color: rgba(255, 255, 255, 0.9);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transition: all 0.2s cubic-bezier(0.565, -0.260, 0.255, 1.410);
}

.other .msg {
  border-top-left-radius: 0;
  box-shadow: -1px 2px 0 #c1cbcd;
}

.other:before {
  content: "";
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid #eef8ff;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
}

.self .msg {
  border-bottom-right-radius: 0;
  box-shadow: 1px 2px 0 #c1cbcd;
}

.self:after {
  content: "";
  position: relative;
  display: inline-block;
  float: right;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid #eef8ff;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 0 2px 0 #c1cbcd;
}

.msg {
  max-width: 80%;
  background: #eef8ff;
  min-width: 50px;
  padding: 10px;
  border-radius: 2px;
  word-break: break-all;
}

.msg p {
  white-space: pre-wrap;
  word-break: break-word;
}

.msg .user {
  font-size: 14px;
  margin: 0 0 2px;
  color: #666;
  font-weight: 700;
  margin-top: -2px;
  margin-bottom: 5px;
  transition: all 0.2s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.msg .user .range.admin {
  display: inline-block;
  font-size: 10px;
  font-weight: 300;
  color: #6aea96;
  padding: 2px;
  border-radius: 3px;
  border: solid 1px #6aea96;
  background: rgba(255, 255, 255, 0);
  margin-left: 5px;
}

.msg p {
  font-size: 13px;
  margin: 0 0 2px;
  color: #777;
  transition: all 0.2s ease;
}

.msg img {
  position: relative;
  display: block;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0 0 3px #eee;
  transition: all 0.8s cubic-bezier(0.565, -0.260, 0.255, 1.410);
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.msg time {
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.35);
  margin-top: 3px;
  float: right;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.msg time:before {
  content: "\f017";
  color: #ddd;
  font-family: FontAwesome;
  display: inline-block;
  margin-right: 4px;
}
@-webikt-keyframes pulse {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}
/* T Y P E */
.typehere {
  background-color: #F5F5F5;
  display: flex;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  height: 76px;
}

.typehere textarea {
  flex: 15;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 13px;
  height: 96%;
  resize: none;
  width: 100%;
  /* width: 100vw; */
  display: inline-block;
  z-index: 99;
  border: none;
  outline: none;
  color: #606060;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
}

.typehere textarea::placeholder {
  color: #a4a4a4;
}

.typehere .buttons {
  flex: 1;
  align-items: center;
  display: flex;
  /* width: 5%; */
  text-align: center;
}

.typehere .buttons i {
  flex: 1;
}
/* R E S P O N S I V E   C O N F I G U R A T I O N */
@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }

  .msg p {
    font-size: 11px;
  }

  .msg .user {
    font-size: 13px;
  }

  .msg img {
    width: 100%;
  }

  .chat .notification {
    font-size: 12px;
    margin: 7px 30%;
    width: 40%;
  }

  .chat .day {
    font-size: 11px;
  }

  form:focus~.typezone {
    bottom: 50vh;
  }

  .typehere {
    padding: 5px;
  }
}
@media screen and (max-width: 550px) {
  .msg p {
    max-width: 250px;
  }

  .msg img {
    width: 100%;
  }

  .chat .notification {
    font-size: 12px;
    margin: 7px 0;
    width: 100%;
    border-radius: 0;
  }

  .chat .notification time {
    right: 10px;
  }

  .typehere {
    padding: 3px;
  }

  .typehere textarea {
    /* width: 90%; */
  }
}
