<h1 mat-dialog-title> {{ data.title }} </h1>
<div mat-dialog-content>
  <p [innerHTML]="data.question"></p>
</div>
<div mat-dialog-actions>
  <div class="flex-fill"></div>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Tak</button>
</div>
