<h1 mat-dialog-title *ngIf="!editMode"> Tworzenie nowego kanału </h1>
<h1 mat-dialog-title *ngIf="editMode"> Edycja kanału </h1>

<div mat-dialog-content>
  <mat-form-field class="full-width">
    <input matInput placeholder="Nazwa kanału" [formControl]="channelNameFormControl">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <div class="flex-fill"></div>
  <button mat-button (click)="onNoClick()">Anuluj</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="onSubmitClick()" [disabled]="!channelNameFormControl.valid">
    <span *ngIf="!editMode; else editModeButtonText">Utwórz</span>
    <ng-template #editModeButtonText>Zapisz zmiany</ng-template>
  </button>
</div>
