@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  /* background-color: #f2f2f2; */
  background-color: #F5F5F5;
  margin: 0;
}

/* Scrollbar
-------------------------------------------------- */
::-webkit-scrollbar {
  background-color: #F5F5F5;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #8a8a8a;
}

::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}

/* Different global CSS
-------------------------------------------------- */
.block-select-text {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.hide-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flex-fill {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
