<a mat-list-item class="non-active" class="new-channel" (click)="createChannelModal()"> Nowy kanał </a>
<a mat-list-item class="non-active" *ngFor="let channel of channels" routerLink="/channel/{{channel.id}}" routerLinkActive="active">
  <i class="fa fa-circle unread" aria-hidden="true" *ngIf="channel.newEvents"></i>
  <span class="hide-overflow">
    {{ channel.name }}
  </span>
</a>
