.mat-sidenav .mat-list-item {
  font-size: 13px;
}

.mat-sidenav .mat-list-item-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.non-active {
  background-color: white !important;
}

.non-active:hover {
  background-color: rgba(0, 0, 0, .1) !important;
}

.active {
  background-color: rgba(0, 0, 0, .06) !important;
}

.new-channel .mat-list-item-content {
  color: #9f9f9f;
  /* font-style: italic; */
}

.unread {
  color: orange;
  left: -12px;
  position: relative;
  width: 0;
}

@media screen and (max-width: 600px) {}
