<div class="container top-space">
  <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
    <h2 class="form-signin-heading">Zarejestruj się</h2>

    <mat-form-field>
      <input matInput #username formControlName="username" placeholder="Nazwa użytkownika" autofocus>
      <!-- <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint> -->
      <mat-error *ngIf="registerForm.controls['username'].errors">
        <span *ngIf="registerForm.controls['username'].errors.required"> Nazwa użytkownika jest wymagana </span>
        <span *ngIf="registerForm.controls['username'].errors.usernameInUse"> Nazwa użytkownika jest już zajęta </span>
      </mat-error>
      <mat-error ></mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput #input type="password" formControlName="password" placeholder="Hasło">
      <mat-error *ngIf="!registerForm.controls['password'].valid"> Podane hasło jest za krótkie </mat-error>
      <mat-hint align="end">Minimalna długość hasła to {{ passwordMinLength }} znaków</mat-hint>
    </mat-form-field>
    <mat-form-field (click)="test()">
      <input matInput #input type="password" formControlName="passwordConfirm" placeholder="Powtórz hasło">
      <mat-hint *ngIf="registerForm.controls['passwordConfirm'].touched && registerForm.controls['passwordConfirm'].value !== registerForm.controls['password'].value"> Hasła nie są zgodne </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput #input type="text" formControlName="firstName" placeholder="Imię">
      <mat-error *ngIf="!registerForm.controls['firstName'].valid"> Imię jest wymagane </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput #input type="text" formControlName="lastName" placeholder="Nazwisko">
      <mat-error *ngIf="!registerForm.controls['lastName'].valid"> Nazwisko jest wymagane </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput #input type="email" formControlName="email" placeholder="Adres e-mail">
      <mat-error *ngIf="!registerForm.controls['email'].valid"> E-mail nie jest poprawny </mat-error>
    </mat-form-field>

    <div class="button-container">
      <span (click)="registerClicked()">
        <button mat-button color="primary" type="submit" [disabled]="!registerForm.valid">Zarejestruj</button>
      </span>
      <button mat-button color="accent" (click)="toLogin()">Przejdź do logowania</button>
    </div>
  </form>
</div>
